In [9]:
dish = ["A","B","C"]
dish.extend("abcd")
print(dish)
print(id(dish))

['A', 'B', 'C', 'a', 'b', 'c', 'd']
1893487641992

In [10]:
dish = dish[:-4]

In [11]:
print(id(dish))

1893486376456

In [18]:
lst = ["a","abca","abc","db"]

In [19]:
lst.sort()

In [20]:
print(lst)

['a', 'abc', 'abca', 'db']

In [22]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst1 = lst2
lst2.append(7)

In [23]:
print(lst1)

[4, 5, 6, 7]

In [24]:
for i in lst1:
    print(i)
    if i==6:
        break

4
5
6

In [27]:
prices = [48,69,29,60,80]
total = 0
num = 0
for i in prices:
    total += i
    num += 1
average = total/num
print(average)

57.2

In [29]:
str="1"
str.replace?

In [34]:
lst1[1:3] = [7,8]

In [35]:
print(lst1)

[4, 7, 8, 7]